.timer {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin-left: 25px;
}

.countdown {
  margin-right: 25px;
}
.timer span {
  font-size: 50px;
  margin: auto;
  font-weight: bold;
  background: hsl(236, 21%, 26%);
  padding: 13px;
  border-radius: 8px;
}

.days, .minutes, .hours, .seconds {
  color: hsl(345, 95%, 68%);
}

.label {
  color: hsl(237, 18%, 59%);
  margin-top: 21px;
  font-size: 13px;
}

.border__bottom {
  position: relative;
  height: 48px;
  width: 100%;
  border-bottom: 2px solid #42445f;
}

.countdown__label {
  margin-top: -24px;
}

@media screen and (max-width: 400px) {
  .timer {
    zoom: 82%;
  }
}
