<div class="timer">
  <div class="countdown">
    <div class="border__bottom">
    </div>
    <div class="countdown__label">
      <span class="days"> {{daysToDday}}</span>
    </div>
    <div style="position: absolute;">
      <p class="label">DAYS</p>
    </div>
  </div>
  <div class="countdown">
    <div class="border__bottom">
    </div>
    <div class="countdown__label">
      <span class="hours"> {{hoursToDday}}</span>
    </div>
    <div style="position: absolute;">
      <p class="label">HOURS</p>
    </div>
  </div>
  <div class="countdown">
    <div class="border__bottom">
    </div>
    <div class="countdown__label">
      <span class="minutes"> {{minutesToDday}}</span>
    </div>
    <div style="position: absolute;">
      <p class="label">MINUTES</p>
    </div>
  </div>
  <div class="countdown">
    <div class="border__bottom"></div>
    <div class="countdown__label">
      <span class="seconds"> {{secondsToDday}}</span>
    </div>
    <div style="position: absolute;">
      <p class="label">SECONDS</p>
    </div>
  </div>
</div>
