<!-- Stars -->
<div class="stars__image"></div>

<!-- Countdown -->
<div class="container__countdown">
  <span class="countdown__span">We're Launching Soon</span>
  <div style="padding: 30px"></div>
    <app-count-down></app-count-down>
</div>

<!-- Footer -->
<div class="footer__image"></div>

<!-- Social -->
<!-- <div style="display: flex; justify-content: center; margin-top: 30%; z-index: 10;">
  <img src="./../assets/images/icon-facebook.svg">
  <img src="./../assets/images/icon-instagram.svg">
  <img src="./../assets/images/icon-pinterest.svg">
</div> -->
