/* Stars */
.stars__image {
  background: url("./../assets/images/bg-stars.svg");
  position: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

/* Countdown */
.container__countdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  justify-content: center;
  margin-top: 100px;
  z-index: 3;
}

.countdown__span {
  display: flex;
  font-size: 23px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  width: 100%;
  justify-content: center;
  margin: auto;
  text-align: center;
}

/* Footer */
.footer__image {
  display: flex;
  height: 100vh;
  align-items: flex-end;
  position: relative;
  background: url("./../assets/images/pattern-hills.svg") no-repeat bottom;
  background-size: contain;
}

@media screen and (max-width: 400px) {
  .footer__image {
    background-size: 1000px;
  }

  .countdown__span {
    width: 70%;
  }
}
